Source: boss-standard-workflow
Section: devel
Priority: extra
Maintainer: David Greaves <david@dgreaves.com>
Build-Depends: debhelper (>= 7.0.50~),
               python (>= 2.6.6-3~),
               python-sphinx,
               python-nose,
               python-mock (>= 0.7),
               python-buildservice (>= 0.3.9),
               python-ruote-amqp,
               python-coverage,
               python-cheetah,
               python-boss-skynet,
               python-rpm,
               rpm,
               cpio,
               rpm2cpio
Standards-Version: 3.9.2
Homepage: http://meego.gitorious.org/meego-infrastructure-tools/boss-standard-workflow

Package: boss-standard-workflow
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         boss-skynet
Description: Standard workflow for BOSS
  This package provides the workflow definitions and tools to enable projects to use them

Package: boss-standard-workflow-common
Architecture: all
Depends: ${misc:Depends},
Description: Common files used by Standard workflow for BOSS
  This package provides the common files used by the standard workflow 
 definitions and the participants used in it

Package: boss-standard-workflow-docs
Architecture: all
Depends: ${misc:Depends},
Description: Standard workflow for BOSS documentation
  This package provides the documentation of the standard workflow 
 definition, the tools to enable projects to use them and the participants they 
 refer to

Package: boss-participant-bugzilla
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends},
         python-cheetah
Description: BOSS participant for Bugzilla
 BOSS participant for Bugzilla.

Package: boss-participant-defineimage
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends},
         python-buildservice (>= 0.3.5),
Description: defineimage BOSS participant
  defineimage BOSS participant

Package: boss-participant-update-patterns
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends},
         rpm,
         python-buildservice (>= 0.3.9),
         cpio,
         rpm2cpio
Description: update-patterns boss participant
  update-patterns boss participant

Package: boss-participant-getbuildlog
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends},
         python-buildservice (>= 0.3.5),
Description: getbuildlog BOSS participant
  getbuildlog BOSS participant

Package: boss-participant-getchangelog
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends},
         python-buildservice (>= 0.3.5),
Description: Get package changelog BOSS SkyNET participant
 Get package changelog BOSS SkyNET participant


Package: boss-participant-mark-project
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends},
         python-buildservice (>= 0.3.1)
Description: Boss participant to mark a project attribute
  Boss participant to mark a project attribute


Package: boss-participant-notify
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends},
         python-buildservice (>= 0.3.5),
         python-cheetah
Description: Notify BOSS SkyNet participant
  Notify BOSS SkyNet participant

Package: boss-participant-obsticket
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends}
Description: obsticket BOSS participant
  obsticket BOSS participant

Package: boss-participant-ots
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends}
Description: OTS BOSS participant
  OTS BOSS participant

Package: boss-participant-prechecks
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends},
         python-buildservice (>= 0.3.5),
         spectacle,
         python-boss-common,
         python-rpm,
Description: Pre-checks BOSS SkyNET participant
 Pre-checks BOSS SkyNET participant

Package: boss-participant-resolverequest
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends},
         python-buildservice (>= 0.3.5),
Description: Resolve request BOSS SkyNET participant
 Resolve requests BOSS SkyNET participant

Package: boss-participant-standard-workflow
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends}
Description: Standard workflow BOSS SkyNET participants
 Standard workflow BOSS SkyNET participant

Package: boss-launcher-robogrator
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${boss:Depends}
Description: The SkyNET managed Robogrator BOSS launcher
  Robogrator BOSS launcher and standard workflow.

Package: python-boss-common
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-ruote-amqp,
         python-buildservice,
Description: Common python libraries for BOSS
 Common python libraries used in BOSS participants
