Source: boss-participant-prechecks
Section: devel
Priority: extra
Maintainer: Islam Amer <islam.amer@nokia.com>
Build-Depends: debhelper (>= 4.0.0), python-dev, python-support
Standards-Version: 3.7.2
HomePage: http://meego.gitorious.org/meego-infrastructure-tools/boss-participant-prechecks

Package: boss-participant-prechecks
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-buildservice
Description: Pre-checks BOSS SkyNET participant
  Pre-checks BOSS SkyNET participant
